# rust
/target
/pkg
/src/tsrust_lib.d.ts

# ts
/node_modules
/src/web/typing_lib.d.ts
/src/web/typing_lib.js
/src/web/snippets
# /src/web/layout.js

# dist
/dist

# lock
/Cargo.lock
/package-lock.json