@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');

:root {
    color-scheme: dark;
    user-select: none;
    font-family: "Yuji Syuku", "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    --background-color: #090c16;
    --text-color: #ffffff;
    --text-typing-pending: #6c757d;
    --text-typing-correct: #9097ff;
    --text-typing-incorrect: #ff9898;
    --text-typing-wrong: #f55252;
}

body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 150%;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0.2em;
}

p {
    margin: 0.2em;
}

.layoutcontent {
    padding: 20px;
    height: calc(100% - 40px - 2px) !important;
    width: calc(100% - 40px - 2px) !important;
}

/* Styling the div */
#main {
    border: 1px solid #c7c3c3;
    text-align: left;
    cursor: pointer;
}
/* Focus style */
#main:focus {
    outline: none;
    border-color: #8bf38b;
}

.typing {
    font-size: 60px;
    line-height: 110px;
}
.Pending {
    color: var(--text-typing-pending);
}
.Correct {
    color: var(--text-typing-correct);
}
.Incorrect {
    color: var(--text-typing-incorrect);
}
.wrong {
    color: var(--text-typing-wrong);
}



[data-layout="v"] {
    & .cursor {
        display: inline-block;
        margin-top: -2px;
        height: 2px;
        width: 60px;
        background-color: #fff9;
    }
    & #main {
        writing-mode: vertical-rl;
        text-orientation: upright;
    }
    & #sub1 {
        writing-mode: vertical-rl;
        text-orientation: upright;
    }
    & .activeline {
        & .triangle {
            color: gray;
            display: inline-block;
            height: 1.1em;
        }
        margin-top: -1.1em;
    }
}

[data-layout="h"] {
    & .cursor {
        display: inline-block;
        margin-right: -2px;
        height: 60px;
        width: 2px;
        background-color: #fff9;
    }
    & .activeline {
        & .triangle {
            color: gray;
            display: inline-block;
            width: 1.1em;
        }
        margin-left: -1.1em;
    }
}