@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&display=swap');

:root {
    color-scheme: dark;
    user-select: none;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    --background-color: #090c16;
    --text-color: #ffffff;
    --text-typing-pending: #6c757d;
    --text-typing-correct: #9097ff;
    --text-typing-incorrect: #ff9898;
    --text-typing-wrong: #f55252;
}

body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
}

.layoutcontent {
    padding: 20px;
    height: calc(100% - 40px - 2px) !important;
}

/* Styling the div */
#main {
    border: 1px solid #c7c3c3;
    text-align: left;
    cursor: pointer;
}
/* Focus style */
#main:focus {
    outline: none;
    border-color: #8bf38b;
}

.typing {
    font-size: 50px;
    line-height: 110px;
}
.Pending {
    color: var(--text-typing-pending);
}
.Correct {
    color: var(--text-typing-correct);
}
.Incorrect {
    color: var(--text-typing-incorrect);
}
.wrong {
    color: var(--text-typing-wrong);
}

.cursor {
    display: inline-block;
    width: 2px;
    margin-right: -2px;
    height: 50px;
    background-color: #fff9;
}